.mainContent
  %h2 Enter a new recipe
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
    Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
    massa.
  
  -flash.each do |key, value|
    %div{:class => "flash #{key}"}
      =value 
  
  = render 'form'

    
  
  
  


