#mainTheme
  =image_tag "./temp/salad-bowl.jpg"
  #highlightWrapper
    #highlightContainer
      %h3 Food Matters
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
        Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
        massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
        bibendum at, posuere sit amet, nibh. 
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib          

%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
  Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
  massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
  bibendum at, posuere sit amet, nib
%p
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et,
bibendum at, posuere sit amet, nib
